---
layout: base.njk
permalink: /about/
eleventyNavigation:
    key: About Us
    title: About Us
--- 

<h1>About Us</h1>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <div id="nav-placeholder"></div>
        <div class="about-section" id="about">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    "Handmade" is one of the most effective descriptors to help emphasize the quality and uniqueness of a product. Like any other word, though, it comes with baggage and must be used with care. Understanding what "handmade" actually means and how it can be applied is necessary to using it safely.
                    <br />
                    Seen as developing the skills and creative interests of students, generally and sometimes towards a particular craft or trade, handicrafts are often integrated into educational systems, both informally and formally. Most crafts require the development of skill and the application of patience but can be learned by virtually anyone.
                </p>
            </div>
        </div>
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">