---
layout: base.njk
permalink: /contact/
eleventyNavigation:
    key: Contact Us
    title: Contact Us
---

<h1>Contact Us</h1>

<div class="uplift-section" id="uplift">
            <div class="uplift-left-col">
                <div class="upift-text">
                    <h1>About Uplift</h1>
                    <p>This new global project aims at helping everyone looking for opportunities to leverage their knowledge, skills, and potential to higher levels. If you want to learn Public Speaking(English) and lag the skill of communicating your ideas. If you’re a student wanting to learn tech stacks like HTML, CSS, JavaScript, Angular, React, Node Js, Artificial Intelligence, Machine Learning and many more, if you are the one with enough knowledge of skills mentioned above then this program is for all of you!
                    </p>
                    
                    <a href="https://upliftproject.tech/#/about" target="_self" ><botton class="uplift-btn">Know More</botton></a>
                </div>
            </div>

            <div class="uplift-right-col">
                <div class="uplift-image">
                    <img src="./Images/uplift_logo.b88e5b69.jpg" width="200px" height="200px">
                    <h1>Follow us on Social Media</h1>
                    
                    <div class="social-media">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>