---
layout: base.njk
permalink: /explore/
eleventyNavigation:
    key: Explore
    title: Explore
---
<link rel="stylesheet" href="/assets/css/explore.css">
<section class="jumbotron text-white">
    <h1>Explore</h1>
    <p class="lead">Browse from the various handicrafts from the skilled craftspeople all around India.</p>
</section>
<section class="container">
    {% set products = collections.products %}
    {% for rows in products | batch(3) %}
    <div class='row'>
        {% for p in rows %}
        <div class='col-md-4 mb-3'>
            <div class="card-deck">

                <div class="card h-100">
                    <img class="card-img-top" src="{{p.data.image}}" alt="p.data.name">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.data.name }}</h5>
                        <p class="card-text text-success">{{p.data.price}} Rupees</p>
                        <a href="{{p.url}}" class="btn btn-info">View</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>